<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Prueba técnica Fran Barcia{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Crear entrada del blog</title>
    </head>
    <body>
        {% block content %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endblock %}
    </body>
</html>
